@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  .theme-light {
    --black: #000000;
    --primary: #f3f4f6;
    --secondary: #111827;
    --primary-hover: #9ca3af;
    --ws-wave-color: #6b7280;
    --ws-silent-color: #ef4444;
  }

  .theme-dark {
    /* black */
    --black: #000000;

    /* gray 900 */
    --primary: #111827;

    /* gray 100 */
    --secondary: #f3f4f6;

    /* gray 600 */
    --primary-hover: #4b5563;

    /* gray 500 */
    --ws-wave-color: #6b7280;

    /* gray 100; --secondary */
    --ws-progress-color: #f3f4f6;

    /* red 500 */
    /* --ws-silent-region-color: #ef4444; */
    --ws-silent-region-color: 239, 68, 68;
  }

  .theme-dracula {
    --black: #000000;
    --primary: #282a36;
    --secondary: #50fa7b;
    --ws-wave-color: #f8f8f2;
    --primary-hover: #44475a;
  }
}
